[2017-11-25 23:22] amirea opened #1 "Unity Native Scripting vs. Unity native plugin"
Hello.
I'm very much interested in coding in C++ in Unity and as I was looking for a (proper) way, I stumbled upon this repository. I read the readme and I still have a couple of things unclear.
I know C++, I know Unity but I don't know a bit about how they can be made to work together, nor by your solution neither by official ones.
I think it would be great if you clearly stated differences (ups/

[2017-11-25 23:38] jacksondunstan commented on #1
Hi amirea,

I'm glad you're interested in C++ scripting and considering using this project. I've been detailing explicitly how this project works as I implement it. The basics are in the [first part](https://jacksondunstan.com/articles/3938) of my (so far) 20 part blog series. There's actually no difference between this project and a native plugin. As the readme explains in the "Project Structure"

[2017-11-25 23:38] #1 closed, assigned to jacksondunstan

[2017-12-24 01:59] hacksalot opened #2 ":)"

[2018-01-31 11:50] HassanAliAnjum opened #3 "iOS build issue"
I tried current code for iOS but it have some errors. So I tried using a single cpp file with one export method but the bundle created by make file gives linking error in iOS build created by Unity. can you please look into this or guide me.

[2018-02-02 17:17] jacksondunstan commented on #3
Sorry to hear you're having trouble building for iOS, @HassanAliAnjum . I just tried and it's building fine for me. I didn't make any modifications to get it to build and you shouldn't have to either. Can you please provide your software versions (e.g. macOS, Xcode, iOS SDK) and the specific error you're getting?

[2018-02-15 10:57] daseyb opened #4 "Hot reloading: Can't build over DLL in place."
First of all, thanks for the great work! It helped me get started really quickly with hot reloading native plugins (even though I don't need any of the binding).

Windows locks DLL files that are currently in use, which means the linker can't write to it when you recompile.
This is fairly easily fixed by making a copy of the DLL and loading that instead. You still watch the original DLL for change

[2018-02-16 03:00] jacksondunstan commented on #4
Hi @daseyb, I'm glad this was helpful to you even if you're not using the bindings part of the project!

Thanks for reporting this issue with hot reloading on Windows and for providing a strategy to resolve the issue. Another approach that comes to mind is to unload the DLL before loading it again. I'll experiment with these ideas and hopefully one will solve the issue.

[2018-02-16 07:12] daseyb commented on #4
The issue with that is that you need to have already overwritten the file
to detect that it changed in the auto reloader.
So you’d need to unload it in Unity just before the compiler tries to write
to it.

On Fri 16. Feb 2018 at 04:01, Jackson Dunstan <notifications@github.com>
wrote:

[2018-02-17 00:03] jacksondunstan commented on #4
@daseyb I just pushed a commit to fix this issue using your approach. Please give it a try and let me know if you still have any trouble with hot reloading.

[2018-02-17 00:03] #4 closed, assigned to jacksondunstan

[2018-03-12 05:26] #2 closed, assigned to jacksondunstan

[2018-03-12 05:27] #3 closed, assigned to jacksondunstan

[2018-03-14 12:49] Jrius opened #5 "Arrays: Generic is not a member of System::Collections"
Hello.
I've been running in an issue with arrays. As mentioned in your blog, I tried the following:
[code]
However, once the bindings are generated, Visual Studio tells me that "Generic" does not exist in System::Collections, hence:
`template<> struct Array1<System::Single>`
cannot inherit from
`virtual System::Collections::Generic::IList<System::Single>`
I tried with other types, but the result i

[2018-03-14 16:05] jacksondunstan commented on #5
Hi @Jrius ,

Sorry for the troubles! The code generator currently doesn't do any automatic discovery and generation of dependencies. So when you wanted to create a `float[]`, that meant that it needed to derive from `System.Collections.Generic.IList<float>` and, recursively, relied on several other types.

Currently, you'll have to manually add those dependencies to the JSON config to satisfy them

[2018-03-14 16:05] #5 closed, assigned to jacksondunstan

[2018-03-14 21:59] Jrius commented on #5
Yup, that did it ! Finding Unity dependencies isn't a problem but those built-in types are a bit harder. Not a big issue though, and I'm impressed at how easy everything is with this library so far !
Thank you for your fast answer ! :)

[2018-03-25 15:21] Jrius opened #6 "Accessing components seems slow"
Hello again,

I've noticed functions returning components are surprisingly slow: GetComponent<>(), GetTransform() and AddComponent<>() seem to take significantly more time in C++ than they do in C#.

I've benchmarked with those two scripts:
C#:
[code]
C++
[code]
The C# script runs in roughly 30 milliseconds. The C++ one takes 20 seconds.

I'm using Unity as a scene viewer for data from an old game

[2018-03-25 17:44] jacksondunstan commented on #6
Hi @Jrius , sorry to hear you're having performance issues. Thanks for providing examples. I pasted them into my own copy of the project and got the following results:

| Language | Time |
|----------|------|
| C#       | 24   |
| C++      | 215  |

That's indeed quite a slowdown in C++, but nowhere near going from 30ms to 20,000ms. There is overhead involved when calling into C# and this code doe

[2018-03-25 21:17] Jrius commented on #6
Ah, I'm beginning to understand what the issue is.

Since I'm accessing a lot of managed objects during a single frame, the ObjectStore was registering a lot of object handles until it hit the default limit of 1000.
I came across your blog post about [object handles](https://jacksondunstan.com/articles/3908), and noticed at the time you were using a default value of 100,000, so I increased `Defaul

[2018-03-26 19:50] Jrius commented on #6
Okay, I made more progress on the issue.

I was wondering why I needed all those 100,000 handles while I definitely wasn't using that much simultaneously, and ran a few tests.
It seems the culprit is System::String, which does not release its handle once it goes out of scope and is destroyed.
For instance, I ran the following with as few as 100 handles (enough to make sure my plugin would run, too

[2018-03-27 02:14] jacksondunstan commented on #6
Thanks so much for digging into this so deeply! With your findings, the fix was trivial to implement. `String` objects created from string literals weren't being ref-counted, so I added one line to do that and the test code now works. 🎉

Here's the commit that fixes the issue: 4af035161a3ba682124eda3a47ab9697e6068557

Please let me know if you run into any other issues and have fun creating your v

[2018-03-27 02:14] #6 closed, assigned to jacksondunstan

[2018-03-27 07:43] Jrius commented on #6
That did the trick ! Thanks for the fix.

[2018-04-28 18:26] hanbim520 opened #7 "android build error"
<img width="858" alt="screen shot 2018-04-29 at 2 25 12 am" src="https://user-images.githubusercontent.com/7490792/39399676-b1ed3542-4b54-11e8-95df-a63c900f0dd6.png">
I build android only defined
<img width="730" alt="screen shot 2018-04-29 at 2 26 38 am" src="https://user-images.githubusercontent.com/7490792/39399679-c406af56-4b54-11e8-815e-010c9a7ed2b1.png">

Another error,MacOS,auto build path

[2018-04-28 21:14] epitaque opened #8 "Cannot compile bindings.cpp after generating bindings"
Using Windows 10 and Visual Studio 15 2017. If I follow your instructions under Windows, everything works, and the example ball moves back and forth. But if I click NativeScript -> Generate Bindings, and then go back to Visual Studio to compile, I get several errors from Bindings.cpp:
- C2027	use of undefined type 'System::IEquatable_1<UnityEngine::Vector3>'	NativeScript (Bindings.cpp Line 3872)
-

[2018-04-28 23:57] jacksondunstan commented on #8
Hi @brianhoy, it looks from those errors like you need to add `IEquatable<Vector3>` to `NativeScriptTypes.json` to support boxing `Vector3` to `IEquatable<Vector3>`. To do this, add on to the `GenericParams` section with `Types` having `UnityEngine.Vector3` following the pattern there.

As to why this is necessary, I suspect you're using the Unity 2018.2 beta. In Unity 2017.3, 2017.4, and the 2018

[2018-04-28 23:57] #8 closed, assigned to jacksondunstan

[2018-04-29 06:34] jacksondunstan commented on #7
Hi @hanbim520, I just tried running CMake per the `README.md` instructions. Then I opened the project in Xcode and built it without errors. I also opened up the Unity project in 2017.3 and switched the Build Platform to Android, but didn't see any errors.

Could you please provide steps to reproduce the issue?

[2018-05-01 07:11] hanbim520 commented on #7
1.I create 3 platforms to compile instruction files
Mac OSX
zhanghaijunsMBP:build zhanghaijun$ cat makeMacosx.sh
cmake .. -G "Xcode" -DEDITOR=TRUE ../CppSource/
iOS
zhanghaijunsMBP:buildIos zhanghaijun$ cat makeIos.sh
cmake .. -G "Xcode" -DCMAKE_TOOLCHAIN_FILE=../CppSource/iOS.cmake ../CppSource
Android
zhanghaijunsMBP:buildAndroid zhanghaijun$ cat makeAndroid.sh
cmake -G Xcode -DANDROID_NDK=~/Dow

[2018-05-01 07:31] hanbim520 commented on #7
Unity Version
<img width="556" alt="screen shot 2018-05-01 at 3 30 51 pm" src="https://user-images.githubusercontent.com/7490792/39465212-af5eda90-4d54-11e8-86f3-87da46f35c67.png">

[2018-05-01 16:13] jacksondunstan commented on #7
@hanbim520, thanks for providing these detailed instructions! I now realize that the problem wasn't in the Xcode build or the Unity Editor build, but a build for the target platform (e.g. to make an APK for Android). I was able to reproduce the issue and have pushed a commit with a fix for the issue:
97421db1ada4818fd8a496958125bbade14bc143
Please let me know if you run into any more issues.

[2018-05-01 16:13] #7 closed, assigned to jacksondunstan

[2018-05-02 06:05] hanbim520 opened #9 "Build products problem"
Now,all platforms build successfully,but run error:
iOS：
DllNotFoundException: Unable to load DLL 'NativeScript': The specified module could not be found.
  at NativeScript.Bindings.Init (System.IntPtr memory, System.Int32 memorySize, NativeScript.Bindings+InitMode initMode, System.IntPtr releaseObject, System.IntPtr stringNew, System.IntPtr setException, System.IntPtr arrayGetLength, System.IntPt

[2018-05-03 05:37] jacksondunstan commented on #9
Hi @hanbim520, sorry to hear you're still having troubles. Thanks for reporting the issue. Here's what I tried to reproduce:

1. Start with a fresh copy of the project from GitHub
2. Run CMake for non-editor macOS: `cmake -G Xcode /path/to/Unity/CppSource`
3. Open Xcode and build
4. Load the project in Unity 2017.4.1f1 and build for macOS
5. Run the built macOS app

The app runs fine for me and I

[2018-05-03 08:09] hanbim520 commented on #9
I build MacOS like you.But IOS is not work well,the log is running on ios.
<img width="1010" alt="screen shot 2018-05-03 at 4 08 26 pm" src="https://user-images.githubusercontent.com/7490792/39565903-4b2be2d6-4eec-11e8-8e6e-2a1b3b34a936.png">
<img width="1417" alt="screen shot 2018-05-03 at 4 10 57 pm" src="https://user-images.githubusercontent.com/7490792/39565987-980f17d0-4eec-11e8-8687-6adb6813

[2018-05-05 17:27] jacksondunstan commented on #9
@hanbim520, thanks for clarifying that this is just an issue with iOS and not the other platforms. Also, thanks for providing the screenshot of Xcode's error log. I was able to reproduce the issue with iOS and have made changes to the project in this commit to address the issue:
0f3e137a60dfd78f73894bc0170cfa9d288d9f4a
Please let me know if the issue persists or any other issues come up.

[2018-05-05 17:27] #9 closed, assigned to jacksondunstan

[2018-05-07 14:37] hanbim520 commented on #9
这次可以完全的编译和正确的运行（这次仅仅编译了IOS），很抱歉我蹩脚的英语，还是用母语来回复比较好。您的这个项目我一直没时间看，刚刚从深圳出差回上海，一直在寻找unity的C# 与C++ 的直接交互（非C API方式），目前看到有人用CppSharp的库来做这个，不过好像需要NET4.6才行

[2018-05-07 16:09] jacksondunstan commented on #9
Hi @hanbim520, I can't read this but I'll use Google Translate into English:

Libraries like CppSharp are great for making C# wrappers for C++ code, but this project is mostly for the reverse: C++ wrappers for C# code. I couldn't find anything that implements this already, so I launched this project. As for GCC supporting CIL, this seems to have been [abandoned](https://gcc.gnu.org/projects/cli.ht

[2018-05-07 16:38] hanbim520 commented on #9
Yes, there's nothing wrong with what you say. This weekend to study your code, the MAC OS path problem existed before, and now I'm here at 0 a.m., not testing MAC OS , Android, and Windows.

[2018-05-14 18:28] Jrius opened #11 "Crashing on some methods"
Hello again :)

This time I'm having trouble with some functions crashing Unity, and having a hard time nailing down the cause... I was hoping you could help me figure it out.

This is the code I use (can be pasted directly into the sample .cpp file):
[code]
Oh, and the relevant NativeScriptTypes.json, if that helps:
[code]

I attached a debugger to the Unity Editor, and it doesn't say much (Acces

[2018-05-17 15:56] jacksondunstan commented on #11
Hi @Jrius, I just tried this out using macOS in both Editor and Standalone and didn't run into any issues. Is this issue only happening for you on Windows?

[2018-05-19 19:48] Jrius commented on #11
I don't have a Mac to test with unfortunately... But I'm confident this is a Windows-only bug. Today I tried creating various similar methods in my C# game scripts, and found that methods or property getters crash when returning most value types. Wow, crazy I didn't notice sooner - but then my project is mostly about feeding data to Unity, and I rarely need to access some of the info I just gave i

[2018-05-21 04:23] jacksondunstan commented on #11
@Jrius, thanks for continuing to investigate this with me. I spent some time looking into the issue this weekend, including reproducing it on Windows 10 64-bit using your example code. I made a small example project to strip away as much of UnityNativeScripting as possible. I ended up with a single C++ file compiled into a `CppLib.dll` by a Visual Studio project:
[code]
Then I made a Unity project

[2018-05-25 17:29] Jrius commented on #11
Hey. Sorry for not answering sooner, I had one of those crazy week at work...
Anyway. Thanks for the extensive answer ! It's strange that returning ints doesn't crash for you, but at least we've narrowed down the issue for other structs. I'll keep track of anything that might explain it, maybe it has something to do with debug/release build and running in the editor vs running standalone...
Good i

[2018-06-04 08:08] JmgrArt opened #12 "[Windows] Bindings generator fails injecting because of carriage return"
Hi. Thanks for this amazing project!

I may have noticed an issue in the bindings generator under Windows: it tries to inject code between markers using \n as newline character. Alas, under Windows since the newline characters are \r\n the generator fails finding the beginning marker and silently skips the injection.

This issue prevents adding new types to be generated.

[2018-06-05 03:48] jacksondunstan commented on #12
Hi @JmgrArt, I'm glad you're enjoying the project! Sorry to hear about the issue you're having. I wonder what's adding \r\n characters to the bindings files on Windows. Those files aren't meant by be hand-edited in projects using UnityNativeScripting, so they should always have just the \n line endings that they're posted to GitHub with. Do you know how those files got \r\n line endings? In any ca

[2018-06-05 06:45] JmgrArt commented on #12
I think I know what happened: I pasted some code containing \r\n in the bindings file within my IDE (Qt Creator), and I suppose that it converted all newline to the native characters under Windows: \r\n. Anyway, as you suggested I fixed the issue by editing the file with Notepad++ and converting all newline characters to \n. Thanks.
PS: I needed to edit the bindings file to add an include directiv

[2018-06-05 06:45] #12 closed, assigned to jacksondunstan

[2018-06-07 14:52] JmgrArt opened #17 "[Android] Return type within the C# import for the C++ binding function is always void"
I tried adding another abstract method returning bool in the AbstractBaseBallScript example class and calling the generator (after manually adding a stub override in BaseBallScript to prevent a compilation error in Unity), but the return type of the generated C# binding function is always void. This results in a compilation error when building a player for Android. Building for the Editor is worki

[2018-06-08 04:06] jacksondunstan commented on #17
Hi @JmgrArt, thanks for pointing this out! All the `MonoBehaviour` "message" functions return `void` so this seems to have been an oversight that still worked in my testing. I've made your suggested change in commit 2180b3edfea9d58da5242d9c5752b344d9a0b84c. Please let me know if you find any more issues!

[2018-06-08 04:06] #17 closed, assigned to jacksondunstan

[2018-06-08 07:55] JmgrArt opened #18 "String support/improvements"
Hi. I saw in the project's readme that the generator does not support `string` yet. I have however added an abstract method taking a string parameter to the `AbstractBaseBallScript` class and have implemented it on the C++ side. All I missed was some way to get a `const char *` from a `String`, so I added a `c_str()` method to it, adding binding methods similar to `Plugin::StringNew`. This seem to

[2018-06-09 05:05] jacksondunstan commented on #18
Hi @JmgrArt, the `string` class has been supported since the very beginning of the project. The README.md just says that `string` _methods_ aren't supported. This is because the `string` type is hard-coded as opposed to being generated by the code generator. So there's currently no way to expose more functionality of the `string` type such as the `Substring` method. Some day I'd like to address th

[2018-06-09 05:05] #18 closed, assigned to jacksondunstan

[2018-07-03 07:01] JmgrArt opened #19 "Creating a second MyGame::BaseBallScript in the demo project triggers an assertion failure"
Hi !
When running the example project and scene, duplicating the "GameObject with a BallScript" GameObject in the Editor or creating a second GameObject with the same component within PluginMain triggers an assertion failure.

![image](https://user-images.githubusercontent.com/37101125/42203163-3acbd662-7e9e-11e8-837f-51357cc17533.png)

Commit: 60450d4a58f623bf39770cf9e70da6c9932dd78e
Unity: 2017.

[2018-07-29 00:19] jacksondunstan commented on #19
@JmgrArt, thanks for bringing this to my attention and providing a patch. The initialization code was indeed incorrect. I've applied your suggested fix to 1cb1135e19576bb3a01205b9c1bc61fd304db746 along with support for Unity 2018.2. Best, -Jackson

[2018-07-29 00:19] #19 closed, assigned to jacksondunstan

[2018-08-09 11:23] 1028405207 opened #20 "Assets/Plugins/Editor/NativeScript.dll does not exist"
When I Run  Your Project , It Appear Some Wrong "Assets/Plugins/Editor/NativeScript.dll does not exist" How Can I Solve it /.

[2018-08-10 05:06] jacksondunstan commented on #20
Hi, please follow the "Getting Started" and "Building the C++ Plugin" sections of the README to get your project set up and, in the particular case of your issue, the plugin built.
https://github.com/jacksondunstan/UnityNativeScripting#getting-started

[2018-08-10 05:06] #20 closed, assigned to jacksondunstan

[2018-08-24 01:22] mthamer opened #21 "String Injection Silent Fail"
This is great stuff, thank you!

One thing that bit me for a while, was that the code generation didn't seem to be working.  I assumed I was doing something wrong in NativeScriptTypes.json which was causing a problem, but that turned out to not be the case.  After debugging the GenerateBindings.cs code, I eventually realized it was silently failing to inject any changes because the line endings on

[2018-08-24 03:55] jacksondunstan commented on #21
Hey Mustafa,

I'm glad you're enjoying the project! I've previously thought that changing the line endings, or anything else, in the generated files should be considered off-limits, but this is the second report of issues with just line endings which may be converted automatically by a text editor just when opening the file to read it or by a version control system attempting to normalize across O

[2018-09-09 22:33] dajevtic opened #22 "Compare Strings"
I really enjoy your project a lot. Spent the last few days using the generator and porting a lot of functions to C++: Vector3, Quaternions, GameObjects, etc.
I am stuck with a fairly simple task though... Though I manage to expose my GameObjects, their names, tags, etc. I am unable to do the most simple task, which is to check if a GameObject's Tag (String) equals another String's value (the Tag o

[2018-09-10 00:50] jacksondunstan commented on #22
Hi @dajevtic, I'm glad you're enjoying the project!

Unfortunately, string comparison is not currently directly supported. This is because strings are special-cased in the project so you can't simply expose their `==` operator in the bindings like you would with other types. However, you could create your own function to compare strings and expose it. Something like this:

[code]

Then expose it a

[2018-09-10 00:50] #22 closed, assigned to jacksondunstan

[2018-09-17 09:05] mic89 opened #23 "How to use pure c not c++"
Hello, How to use pure c not c++

[2018-09-18 03:12] jacksondunstan commented on #23
Hi @zmicx, the code generator only generates C++ bindings right now. If you want to use C instead of C++, you can write a thin compatibility layer in your C++ game code using `extern "C"`. For example,

**Game.h**
[code]

**Game.cpp**
[code]

**Game.c**
[code]

[2018-09-18 03:12] #23 closed, assigned to jacksondunstan

[2018-09-18 03:12] #21 closed, assigned to jacksondunstan

[2018-10-29 13:34] ZiadJ opened #24 "WebGL support?"
Is there any plans for WebGL support in the future?

[2018-10-31 16:26] jacksondunstan commented on #24
Hi @ZiadJ, I don't personally target WebGL so I probably won't dedicate the time to add support. That said, adding support should be rather easy. I think you'd just need to adjust the C++ plugin build by tweaking the [CMake file](https://github.com/jacksondunstan/UnityNativeScripting/blob/master/Unity/Assets/CppSource/CMakeLists.txt). If you do this, feel free to send me a pull request.

[2018-10-31 16:26] #24 closed, assigned to jacksondunstan

[2018-12-07 08:14] sonygod opened #25 "Property bug?"
Property bug?
[code]

  add property tag to gameobject ,build and run ,throw error

[code]

  how to fixed?

[2018-12-07 09:42] sonygod commented on #25
@jacksondunstan  my unity version between 5.6 and 20.18.1 and vs2017 win64

it's seem no matter about the properties  name ,but When I change json ,it's alway run error.

[2018-12-07 10:00] sonygod commented on #25
it's seem you cod is not automatic  create warp from Json?

you have to write some bingding code in binding.cs?

like here ？

`/*BEGIN DELEGATE TYPES*/
		delegate void ReleaseSystemDecimalDelegateType(int handle);
		delegate int SystemDecimalConstructorSystemDoubleDelegateType(double value);
		delegate int SystemDecimalConstructorSystemUInt64DelegateType(ulong value);
		delegate int BoxDecimalDele

[2018-12-07 10:53] sonygod commented on #25
I found there is an bug in GenerateBindings.cs ,

you forget return result finally ,and allso you can't find  index like \n /t/t in windows system.

` static string InjectIntoString(
            string contents,
            string beginMarker,
            string endMarker,
            string text)
        {

            var len = contents.Length;
            for (int startIndex = 0; ;)

[2018-12-07 10:53] #25 closed, assigned to jacksondunstan

[2018-12-07 15:13] sonygod opened #26 "can't use std::string?"
can't use std::string?

how to implement  Debug.Log("hello world"+2019)?

[2018-12-09 18:21] jacksondunstan commented on #26
Hi @sonygod, you're free to use `std::string` if you like. `Debug.Log` takes an `System.Object` in C#, so you'll need to pass a `System::Object` to `Debug::Log` in C++. `System::String` derives from `System::Object`, so you can pass one of them. The most useful constructor for creating the `System::String` on the C++ side, as in your example, is probably the one that take a `const char*` (a.k.a. C

[2018-12-09 18:21] #26 closed, assigned to jacksondunstan

[2018-12-28 06:31] reitowo opened #27 "I want to say your 'readme' have some mistakes."
There are so many errors, GC is not run on main thread and will not finally lead to crash.
I think it is not professional that you write these misleading contents. From your words i think you are very into C++ and some kind of dislike C#. I hope your 'features' be more reasonable and more convincing.
Forgive my rudeness.

[2018-12-28 07:04] #27 closed, assigned to jacksondunstan

[2019-04-17 15:17] merlin1277 opened #28 "crash with scripting runtime version: NET 4.x Equivalentm zorks with 3.5NET"
Exception: Method "System.Collections.Generic.List<UnityEngine.Color32>.Add(T)" not found
NativeScript.Editor.GenerateBindings.GetMethod (System.Type type, System.Reflection.MethodInfo[] methods, System.String methodName, System.String[] paramTypeNames, System.String[] genericTypeNames) (at Assets/NativeScript/Editor/GenerateBindings.cs:906)
NativeScript.Editor.GenerateBindings.GetMethod (NativeSc

[2019-04-18 08:24] merlin1277 commented on #28
sorry, it is not a bug, it is just that some declarations are missing in the json when updating to net 4.0

[2019-04-18 08:24] #28 closed, assigned to jacksondunstan

[2019-05-08 09:36] nifh80s opened #29 "UnityEngineTimePropertyGetDeltaTime's return type is wrong"
Hi!
When the NativeScript.dll is used, Unity always crashes because the C++ UnityEngineTimePropertyGetDeltaTime function pointer's return type is System::Single which is diffrent from the return type of the C# delegate UnityEngineTimePropertyGetDeltaTimeDelegateType. UnityEngineTimePropertyGetDeltaTime should return float instead of System::Single.

[2019-05-08 14:30] jacksondunstan commented on #29
`System.Single` and `float` are the [same type](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/float), so that wouldn't be the cause of the crash. Can you provide more detail about the crash, such as timing or a stack trace?

[2019-05-09 01:54] nifh80s commented on #29
Here is the stack trace:
`Stack Trace of Crashed Thread 18852:
ERROR: SymGetSymFromAddr64, GetLastError: '试图访问无效的地址。
' (Address: 00007FFB88D8355F)
0x00007FFB88D8355F (NativeScript_temp) (function-name not available)
ERROR: SymGetSymFromAddr64, GetLastError: '试图访问无效的地址。
' (Address: 00007FFB88D81200)
0x00007FFB88D81200 (NativeScript_temp) (function-name not available)
0x00007FFB88D83DE3 (NativeScrip

[2019-05-11 03:45] jacksondunstan commented on #29
I tried to reproduce this using the same environment: Windows 10 64-bit, VS 2017 build, and Unity 2018.3.12. Unfortunately, it didn't crash for me. I'm using a clean checkout of the repository with no modifications to the example Unity project. Do you have some other changes that made it happen? Is the issue only intermittently occurring?

[2019-05-12 09:45] nifh80s commented on #29
It's so weird. With the clean checkout, I only moved the built NativeScript.dll from Assets\Plugins\ to Assets\Plugins\Editor without any codes changed, or it would report dll missing.  My Win10 OS version is 1803, not sure if it's related. Thanks any way, and feel free to close this issue if everything is fine with you：）.

[2019-05-12 09:45] #29 closed, assigned to jacksondunstan

[2019-05-15 06:12] nifh80s commented on #29
Hi again!
I found a reasonable explanation at this page: https://coherent-labs.com/posts/passing-a-struct-from-c-to-c-gone-wrong. After I followed the instructions and removed the constructors of System::Single, it didn't crash finally.

[2019-05-17 17:30] jacksondunstan commented on #29
Thanks for the link; it was very informative! I see how the scenario described is similar to this one and how removing the constructors would fix the crash you're seeing. Unfortunately, I still can't reproduce it despite making several builds and running the example included in the repo several time. I'm reluctant to remove a useful feature (the constructors) until I can do that, so any tips you c

[2019-06-27 20:06] ip opened #30 "Project needs minor updates for Unity 2019.1.8f1"
Seems the projects needs minor update for Unity 2019.1.8.

I followed the "Getting started" section in README. There are 3 issues I noticed.

**Issue 1**
`GenerateBindings.cs` didn't compile because of this line (commented out):
![image](https://user-images.githubusercontent.com/1111008/60296146-86c74200-9936-11e9-8158-a1c43842ef95.png)
After I commented it out and shifted the array indices accord

[2019-07-04 17:57] jacksondunstan commented on #30
Hi @ip, thanks for reporting these issues!

**Issue 1**
I just pushed commit 7b3d95ec3ca559a543262b2dcc36daf4808c113f to fix this. It was caused by Unity changing the namespace of that class to move it out of `Experimental`.

**Issue 2**
I don't get that compiler error. I also don't see `IDeserializationCallback`. Is this something you added in your `NativeScriptTypes.json`?

**Issue 3**
I don't g

[2019-07-04 18:44] ip commented on #30
Thank you, will check it out

[2019-07-04 18:44] #30 closed, assigned to jacksondunstan

[2019-07-26 18:51] Jrius commented on #29
Hello there,

I'm pretty sure this is the same bug as #11. Which means returning the value through a helper function with an `out` parameter should be a valid workaround in this case too.
It seems the reason you are not able to reproduce the bug is because of different versions of the VS compiler. Until yesterday, I could return floats without crashing but the C++ side received garbage instead of

[2019-07-28 09:44] sekkit opened #31 "A small idea to embed Python in C++"
Embedding Python by using Pythonnet(a .net cpython wrapper) is working with Unity.
But il2cpp compilation is very headache with that implementation.
Will embed Python directly within UnityNativeScripting a solution?

[2019-07-28 09:46] sekkit commented on #31
Explanation: why embed scripting languages, because of it's hot reload nature which is common practice in Commercial use.

[2019-08-02 04:24] jacksondunstan commented on #31
Any C++ code you want to add to the native side should compile just fine. I don't know enough about embedding Python, but it seems like a possible use of this project.

[2019-08-02 04:24] #31 closed, assigned to jacksondunstan

[2019-08-02 04:25] jacksondunstan commented on #29
@Jrius, feel free to submit this as a pull request! :)

[2019-08-02 05:19] kitsek opened #32 "Not working good in Windows"
The moving ball will become two static objects, not moving at all, and keeps flashing.
Unity2018.4.5

[2019-08-02 05:36] kitsek opened #33 "How to debug in C++?"
newbie question.
get it running under macOS, wanna debug with Xcode.

[2019-08-02 20:10] sekkit opened #34 "How to automatic convert C++ types to Managed types?"
Successfully embedded Python to UnityNativeScripting,
but when executing code below:
`import UnityEngine`
`UnityEngine.Debug.Log('hello')`

TypeError: Log(): incompatible function arguments. The following argument types are supported:
    1. (self: System::Object) -> None

Invoked with: 'helloworld'

At:
  <string>(3): <module>

UnityEngine.Debug:Log(Object)
NativeScript.Bindings:UnityEngineDebugM

[2019-08-02 22:01] sekkit opened #35 "Crash upon re-playing with Python plugin"
[code]

[2019-08-02 22:44] jacksondunstan commented on #35
From the stack trace, it looks like the crash occurred inside Python's `pybind11::initialize_interpreter`. Since that's outside of the realm of this project, you might want to dig into that code or ask the Python team for help.

[2019-08-02 22:44] #35 closed, assigned to jacksondunstan

[2019-08-02 22:57] jacksondunstan commented on #32
@zhangyl08, I haven't tried that exact Unity version, but it's working fine for me in Unity 2018.3.12f1 on Windows 10. Can you provide more information to help debug? Any logs, crash dumps, screenshots, software or hardware versions, or modifications you've made from a clean Git pull would be handy.

[2019-08-02 23:14] jacksondunstan commented on #33
Here are the steps:

1. Click the `Debug` menu (on the top bar)
2. Point at `Attach to Process`
3. Choose `Unity`
4. Set a breakpoint
5. Run in the editor to execute the breakpoint code
6. Debug in Xcode

Screenshot:
![Debugging_UnityNativeScripting](https://user-images.githubusercontent.com/192597/62403185-1f2a9500-b57b-11e9-990c-bc9302d55e49.png)

[2019-08-02 23:14] #33 closed, assigned to jacksondunstan

[2019-08-02 23:16] sekkit commented on #34
PS: I wanna do:
UnityEngine::Debug::Log("helloworld")
instead of
System::String msg = System::String("hellworld");
UnityEngine::Debug::Log(msg)

All basic types shall be automatically casted to Managed types.

[2019-08-02 23:33] jacksondunstan commented on #34
I can't speak for the Python part, but I can talk about the C++ side. Passing C++ string literals to functions that take an `Object` isn't currently possible because a string literal is `const` and, since C# functions have no concept of `const`, the parameter is not `const` in C++. So the compiler rightly complains that a `const` value is being passed as a non-`const` parameter.

[2019-08-02 23:33] #34 closed, assigned to jacksondunstan

[2019-08-02 23:39] sekkit opened #36 "Il2cpp build failed with Unity2018.4.5 on MacOS10.14.6"
NOT supporting std C++11
[code]

[2019-08-02 23:42] jacksondunstan commented on #36
It's building fine for me in Xcode 10.3 on macOS 10.14. Can you please share your `cmake` command line and compiler version?

[2019-08-02 23:44] sekkit commented on #36
This is il2cpp build with Unity Editor, cmake in command line is fine.
Shall I remove NativeScript folder from Unity?

[2019-08-02 23:45] sekkit commented on #36
[CppSource.zip](https://github.com/jacksondunstan/UnityNativeScripting/files/3463153/CppSource.zip)

[2019-08-02 23:50] sekkit commented on #36
This problem seems to be solved, I just deleted Everything about NativeScript except the dll file and now it compiles.
Unity forces cpp source to be copied to Plugins folder, that's what causes problem.

[2019-08-02 23:50] #36 closed, assigned to jacksondunstan

[2019-08-03 00:07] sekkit opened #37 "BootScript cannot be disabled"
Steps to produce the issue:
Uncheck BootScript in Unity Editor Inspector, and press Play button.
The plugin's PluginMain is called anyway.
The script is actually working nomatter it's active or not.

[2019-08-03 00:30] sekkit commented on #35
After removing cpp source folder, this issue is gone...

[2019-08-03 00:38] jacksondunstan commented on #37
Thanks for pointing this out. `BootScript` was starting the native plugin on `Awake` instead of `Start`. I've fixed that in d67249bde28778803d894eb336cac50be9f40b87.

[2019-08-03 00:38] #37 closed, assigned to jacksondunstan

[2019-08-03 00:39] sekkit commented on #37
OK.
Why not implement it upon Unity runtime startup instead of Monobehaviour?

[2019-08-03 00:43] jacksondunstan commented on #37
`BootScript` is an optional component for convenience sake. All you really need to do is call `Bindings.Open`, `Bindings.AutoReload`, `Bindings.Close` at some points in time. If you'd rather do this at different points than `BootScript` does, feel free to remove it from your scene and make the calls yourself.

[2019-08-03 00:49] sekkit commented on #37
confirmed working with python on iOS, so far.
Very nice project, great work.
BUT i wanna mention why use json file to export types? you can use clr reflection to export all of the clr dlls, json file could be used to exclude stuff you don't wanna export.

![image](https://user-images.githubusercontent.com/25851211/62404981-c2a39600-b5cb-11e9-9031-caa3d4c27b67.png)

[2019-08-03 01:52] jacksondunstan commented on #37
Thanks for the kind words about the project and congratulations on getting it running on macOS!

As for why the JSON config file is a whitelist rather than a blacklist, there are definitely pros and cons to that decision. A whitelist means the bindings generator runs much faster and produces much less C++ so compile times and binaries are much smaller. A blacklist means there's less to configure a

[2019-08-03 18:39] sekkit opened #38 "MacOS il2cpp build thread problem"
Unity2018.4.5f1, build with il2cpp on. When exit the program, it crashes.

[code]

[2019-08-04 00:02] sekkit opened #39 "No PlacementNew alternative"
The lib I imported into UnityNativeScripting conflicts with new operator when compiling in Windows(VC15)
BUT it compiles fine with Xcode.
So I need to bypass this placement new trick. Any idea would be great^^
[code]

[2019-08-04 00:59] sekkit commented on #39
[code]

The issue seems to be gone after adding new delete operator overloading to the class instead of globally.
But I don't know whether to free void* p in delete or not...

[2019-08-04 02:46] sekkit commented on #32
hi, I did a test, the ball is not two static objects, but moving so fast, only from position a to b, no transitions.

[2019-08-04 02:47] sekkit commented on #32
Also another problem I wanna address here:
The Standalone build has no material on that sphere. Red colored.

[2019-08-04 02:54] sekkit opened #40 "[Critical] .Net4.x crashes"
Unity2018.4.5f1, MacOS works fine, but windows crashes.

issue reproduce: When calling MyGameAbstractBaseBallScriptUpdate

CSharp code:
[code]

When executes to the line: auto returnValue = Plugin::UnityEngineTimePropertyGetDeltaTime();
It crashes.
C++ code:
[code]

Exception thrown at 0x00007FFDE974D5D9 (NativeScript_temp.dll) in Unity.exe: 0xC0000005: Access violation reading location 0x00000000

[2019-08-04 20:20] sekkit opened #41 "Define Arrays parameter caused an error"
[code]

[2019-08-04 20:35] sekkit commented on #41
After reading issues and your blog, this problem is solved.
I strongly recommend simplify the type definition process... kinda complexity for newbies.

[2019-08-05 17:14] sekkit commented on #38
Build with static linking library, this problem seems to be gone

[2019-08-05 17:14] #38 closed, assigned to jacksondunstan

[2019-08-06 03:51] jacksondunstan commented on #32
The purpose of the example scene is to provide something simple to show that the environment is correctly configured. It's not so much to provide smooth animations or pleasant graphics, so neither of these issues is much of a concern. It's expected that users will immediately delete the ball code and assets as soon as the "smoke test" passes and that's what I'd recommend here. That said, I'd happi

[2019-08-06 03:51] #32 closed, assigned to jacksondunstan

[2019-08-06 03:53] jacksondunstan commented on #40
It's working fine for me on Windows. Can you please provide more information such as your version of Windows, your C++ compiler version, the reproduction rate of the crash, and any modifications you've made since cloning the repo?

[2019-08-06 03:54] jacksondunstan commented on #41
I'm glad to hear that you solved the problem. Please feel free to recommend any simplifications to the config file format.

[2019-08-06 03:54] #41 closed, assigned to jacksondunstan

[2019-08-06 03:56] sekkit commented on #32
yup. im building a Unity framework based on UnityNativeScripting with python support.
When major problems solved I will create a new branch for that^^

[2019-08-06 03:57] sekkit commented on #41
Yeah, I already modified the generatebinding a bit, but a editor/config tool is required in the future if use it in real project

[2019-08-06 03:59] sekkit opened #42 "How to new GameObject(constructor not correct)"
new GameObject()
But no gameobject is created in scene.
Based on Blog articles, there is a GameObjectNew func can do that?
so the question is, how to create GameObject(or any other Plugin generated object) correctly?

[2019-08-06 04:00] jacksondunstan commented on #39
I'm also using VC15 on Windows and have no such compiler error. Could it be due to some code you've added on the C++ side that conflicts with the project?

[2019-08-06 04:01] sekkit commented on #40
Windows 10 1903 latest 64bit
Unity2018.4.5f1
VS2015/VS2017/VS2019

switching to .net4.x, it crashes everytime^^
Tested on your original project, no code changed at all.

[2019-08-06 04:04] sekkit commented on #39
This issue is not reproducible in your original project.
When compiling together with PyBind11(C++ code)
Windows VS compiler complains about ::new symbol conflicts.

Changing operator new declaration from global to member function, the Error is gone, but I don't know whether should implement delete properly.(if not, compiler warning will prompt for delete pair decleration)

[2019-08-06 04:06] jacksondunstan commented on #42
You'll need to expose that constructor to C++ in order to use it. Here's how the JSON looks:

[code]

After generating the bindings, you can create the `GameObject` in C++ like so:

[code]

[2019-08-06 04:06] #42 closed, assigned to jacksondunstan

[2019-08-06 04:08] sekkit commented on #42
Can't I just GameObject *go = new GameObject()?
why create it in stack? I noticed there is no pointer in your cpp plugin bindings

[2019-08-06 04:11] jacksondunstan commented on #39
I'm glad to hear that it's not an issue with the project as-is, but sorry to hear that there's a conflict for the global `new` operator. I'll look into using member operators for `new` and `delete` instead of global ones to reduce such conflicts.

[2019-08-06 04:11] sekkit commented on #39
Either I write as:
[code]

Works fine(no crash so far), strange.
I will email you my project later. thx.

[2019-08-06 04:27] jacksondunstan commented on #40
I am also seeing the issue in 2018.3.12f1 after switching to .NET 4.x and running in the editor. I'll investigate a solution. In the meantime, please use .NET 3.5.

[2019-08-06 15:13] kitsek opened #43 "Convert System::String to c char string or std::string"
Hi, I need to implement that feature to interact System.string with C++ string, any idea of that?
Found no api to do that, don't wanna implement in C# side, but I reckon conversion in C++ side should be more efficient.

desc:
//a System.String obj
char *str = obj.c_str();

[2019-08-06 16:26] jacksondunstan commented on #43
It's important to remember that the only contents of a C++ `System::String` are the `int32_t Handle` that references an object on the C# side. It therefore doesn't have the characters necessary to implement a function like `std::string::c_str()`. You'll therefore need to use a C# function to extract the characters.

[2019-08-06 16:28] kitsek commented on #43
According to what u said in an issue, I did as follow:
[code]
first get length, then allocate wstring, then get string. which i think is a bad implementation, not neat and efficient.

OK, i understand what u said. is there any way faster to get a cstr? I think maybe u can implement it in the project so that others don't have to reinvent the wheel

[2019-08-06 17:16] sekkit opened #44 "Strange iOS Symbol Name(build error)"
DLLExport seems not working.
[sym.txt](https://github.com/jacksondunstan/UnityNativeScripting/files/3473677/sym.txt)

After searching with MachOViewer, All DLLEXPORT defined symbols are missing, contrary to that, others existed.

Undefined symbols for architecture armv7:
"_DestroyBaseScriptBehaviour", referenced from:
      _Bindings_DestroyBaseScriptBehaviour_m8902A94D1481D5392530675EDA206EF110B9

[2019-08-06 19:10] sekkit commented on #44
After removing fvisibility flag generated by Cmake in Xcode.
This issue has been solved.

[2019-08-06 19:10] #44 closed, assigned to jacksondunstan

[2019-08-07 01:34] jacksondunstan commented on #43
I suppose it depends on the implementations of `Game::Utils::Bridge::GetCStringLength` and `Game::Utils::Bridge::GetCString`.

Yes, that would be a nice addition. `String` and other built-in types like `Object` need a larger overhaul to flesh out their functionality and extensibility. Perhaps this could be part of that.

[2019-08-07 01:35] jacksondunstan commented on #39
Reopening issue since the enhancement (containing the scope of the `new` and `delete` operators) has not yet been completed.

[2019-08-07 04:45] jacksondunstan commented on #39
7107c69e0e0aad14ba22778b20c86ba0b7b32119 addresses this issue by removing the global placement new operator in favor of class-specific placement new and placement delete operators similar to what you did. To add them to your derived types (e.g. `BallScript`), add one of the following macro calls:

[code]

I've tested this on macOS with Xcode 10 and Windows 10 with Visual Studio 2017. Please let me

[2019-08-07 04:45] #39 closed, assigned to jacksondunstan

[2019-08-07 11:00] sekkit commented on #43
Hi, I just implemented two more features for System::String
int -> GetLength()
const char * -> CString()
![image](https://user-images.githubusercontent.com/25851211/62617696-03413d80-b945-11e9-988c-d4f95ea1e2a4.png)
![image](https://user-images.githubusercontent.com/25851211/62620958-34be0700-b94d-11e9-9613-9a88352da98b.png)

Also implement two bridge methods Plugin::StringGetLength Plugin::String

[2019-08-07 14:18] sekkit commented on #39
Hi, test it worked.
but
[code]
I guess name it GENERIC_DEFAULT_CONTENTS could save some duplicated definitions.

[2019-08-07 19:01] sekkit opened #45 "[Need merge back feature]Frequently crash with memory linkedlist"
![image](https://user-images.githubusercontent.com/25851211/62650139-c5660880-b988-11e9-88f1-deb4809b540c.png)

If i do not call addcomponent, it worked well.
But when I addcomponent(a monobehaviour added to scene), and stop playing, and replaying, this issue will ocur.

[2019-08-07 19:31] sekkit commented on #45
![image](https://user-images.githubusercontent.com/25851211/62652031-ef212e80-b98c-11e9-8dc5-71170a2a2ccc.png)

[2019-08-08 00:34] sekkit commented on #45
IT is confirmed that using your MonoBehaviour Messages old tree's code.
No longer crashes. But the feature & bugfixes seemed to be hard to merge back due to API's breaking change...

With the latest master version, the CodeGen cannot generate from the config file attached below .. seems the compatibiliy was broken (feature lost) since your <Commits on Mar 12, 2018>
[NativeScriptTypes.zip](https://

[2019-08-09 04:08] jacksondunstan commented on #43
Thanks for submitting these code examples. I'll keep them in mind during any overhaul of basic types like `String`.

[2019-08-09 04:08] #43 closed, assigned to jacksondunstan

[2019-08-09 04:16] jacksondunstan commented on #45
But when I addcomponent(a monobehaviour added to scene), and stop playing, and replaying, this issue will ocur.

I haven't noticed any crash when stopping playing on Windows, at least with the example in the repo. Can you please describe more about your testing environment and the changes you made to the repo to get the crash to happen?

No longer crashes. But the feature & bugfixes seemed to be h

[2019-08-09 04:19] sekkit commented on #45
In this commit you deleted the obsolete implementation of MonoBehaviour. Using Generic BaseType way instead.
That caused the problem. I have trouble re-merge that deleted code back cause lot of things changed.
The error stack shows the BaseBallScript object has bugs in memory management. Null pointer I guess.
Since this commit as the picture shows^^
(PS: I'm using python binding against UnityNativ

[2019-08-10 16:02] jacksondunstan commented on #39
It's true that those are duplicated, as are `GAME_SCRIPT_BEHAVIOUR_DEFAULT_CONTENTS_DECLARATION`, but `GAME_SCRIPT_BEHAVIOUR_DEFAULT_CONTENTS_DEFINITION` is different as it includes the type name:

[code]

I opted to accept the minor amount of duplication for consistency's sake.

[2019-08-10 16:13] sekkit commented on #39
ok, not big deal though.
I already merged your latest change, but the MonoBehaviour old implementation described as in https://jacksondunstan.com/articles/3992, is it possible to bring'em back?
coz i think it's kinda time saver to bypass the crash in another issue^_^

if u run my mail's DEMO, i think it's obvious.

[2019-08-10 16:45] jacksondunstan commented on #45
Thanks for pointing out the offending commit. That corresponds to [this article](https://jacksondunstan.com/articles/4603) that details how the new functionality works and how it's much more featureful than the `MonoBehaviour`-specific functionality that was replaced. The project won't go back to the old way, but I'm interested in fixing bugs in the new way.

I received your example project but wa

[2019-08-10 16:48] sekkit commented on #45
Plz check my mail for a well configured OSX project. along with detailed steps to configure the project.

Finally u just run ln -s Scripts to Assets/StreamingAssets/Scripts to enable python scripts to be found...

now it runs

[2019-08-10 20:27] jacksondunstan commented on #45
To summarize some e-mail threads with @sekkit: the provided project couldn't be made to work with a reasonable level of effort due to considerable issues configuring it. Please provide a test project that doesn't require configuration, such as by tweaking the code in the repro to show the issue.

[2019-08-10 20:31] sekkit commented on #45
Hi, i already give your the approach to do that.
Way 1:
drag the xcodeproject file(that very single file) to VSCode.
search /Users/xxxx
replace with your real path
DONE

coz it's configured with CMake, so i reckon it's the only way to make it work on your environment.
This code is definitely tweaked from your code, even the CMakeFileList.txt, only added few lines...

**OR:**
please provide me with

[2019-08-10 20:37] sekkit commented on #45
Hi, jackson, please provide me with your localpath, the path you put my project.
I will modify it and resend to you^^

[2019-08-10 20:47] sekkit commented on #45
If I were you, troubled by xcode, whatever issue it is.
**I will USE a Windows PC to get rid of that configuration...basically no config stuff needed**

[2019-08-11 00:53] jacksondunstan commented on #45
I believe I've found the source of the issue. `BootScript.OnApplicationQuit` was being called before your `OnDestroy` function. This caused your `OnDestroy` to try to call into the native library after it was closed by `BootScript.OnApplicationQuit`.

I just pushed 74d7d4a93c1d63c029fdff3bb522da779a98e402 which replaces `BootScript.OnApplicationQuit` with listening to `EditorApplication.playModeSt

[2019-08-11 00:53] #45 closed, assigned to jacksondunstan

[2019-08-11 00:54] sekkit commented on #45
great!

[2019-08-11 00:56] sekkit opened #46 "How to do Coroutine in c++"
As the title indicates, is it possible to enable coroutine in c++.

[2019-08-11 01:22] jacksondunstan commented on #46
Yes, but with caveats. You can certainly expose `MonoBehaviour.StartCoroutine`, call it with an `IEnumerator`, and use its returned `Coroutine`. You can even create your own base class implementing `IEnumerator` in the same way you create a `MonoBehaviour` derivative. That class' `Current` and `MoveNext` can be written in C++ just like how you'd write `MonoBehaviour` message handlers like `Start`

[2019-08-11 01:22] #46 closed, assigned to jacksondunstan

[2019-08-12 04:09] sekkit opened #47 "CodeGen Compatibilty breaks"
[NativeScriptTypes.zip](https://github.com/jacksondunstan/UnityNativeScripting/files/3491017/NativeScriptTypes.zip)

With this config and master codebase no any change, Editor runs fine, il2cpp standalone build crashes, mono standalone build throughs error like this:

![image](https://user-images.githubusercontent.com/25851211/62845385-f84a2c80-bcf9-11e9-9e55-cdeff087b293.png)

If add VisualElemen

[2019-08-12 16:10] jacksondunstan commented on #47
I tried to generate the bindings using the repo, but it seems that it depends on some of your project-specific code. Since I still have the project from #45, I generated in that project. As you say, there was no issue inside the editor so I went to try a standalone build. Even after replacing your paths (`/Users/sekkit/...`) with mine, I still get 200+ errors building in Xcode. I don't want to spe

[2019-08-12 16:15] sekkit commented on #47
ok, will sent you later.

[2019-08-18 00:42] jacksondunstan commented on #47
I received the project you sent me by e-mail, opened it in Unity, and successfully generated the bindings. Is there something else I'm supposed to do to reproduce the issue?

[2019-08-18 01:46] sekkit commented on #47
U shall select .net3.5 runtime, il2cpp, and compiles it.

[2019-08-18 19:55] jacksondunstan commented on #47
.NET 3.5 was already selected, but I switched to IL2CPP and the bindings still generate just fine.

Re-reading your initial comment, I'm confused about what the issue is. It sounds like you might be reporting two different issues, so I'm not sure which the project you sent me is attempting to reproduce. Can you please list the steps I should take and the expected and observed behavior like so?

[c

[2019-08-20 09:36] sekkit commented on #47
u must build it.
cmd+shift+B, press build.
the Macro will ignore the errors, so even you generate successfully but it won't build a Standalone binary file.

[2019-08-21 04:56] jacksondunstan commented on #47
I tried to make a build, but ran into a compiler error during the build process. When I looked to see why the error was happening, I discovered that the version of the project you're using contains the `MonoBehaviour` specific functionality that was removed in March 2018 by f3f0139e45be39cc4d8a2aac01c92f8d354a472a. I won't be fixing bugs in very old versions of the repository. Feel free to submit

[2019-08-21 04:56] #47 closed, assigned to jacksondunstan

[2019-08-22 23:18] EricZinda commented on #29
Hi Jackson, I'm hitting this same issue, Visual Studio 2019, 64 bit, windows 8.

If I create this simple class on the C# side:
    public class General
    {
        public static int Test(Int32 arg)
        {
            return 5;
        }
    }

The generator converts it to this:
	Plugin::ManagedUtilitiesGeneralMethodTestSystemInt32 = *(System::Int32 (**)(int32_t arg))curMemory;

And it crashes

[2019-08-23 09:51] Jrius commented on #29
`int32_t` and `System::Int32` have the exact same memory layout (4 bytes), so you can use either one in the signature and it will "just work" as they are compatible. Using the C# name is more consistent with the rest of the bindings, but in the end it's mostly a matter of preference.

The crash you're seeing, however, is due to System::Int32 specifying a constructor. This tips the (overzealous) co

[2019-08-24 01:56] jacksondunstan commented on #29
I just pushed b508933669b0c6de493996bce9d52470ba5b699c to return primitive types instead of struct types (e.g. `int32_t` instead of `System::Int32`) to fix this issue. The broader issue (#11) that @Jrius points out is still a problem, but this should fix at least the case of primitives.

[2019-08-25 03:11] sekkit commented on #47
I remember the demo project sent to your email doesn't contain Monobehaviour types definition.
well, just comment out the Monobehaviours section.
But there are other compilation errors using your latest codebase.
Then you manually correct those compilation errors, it compiles fine. (problem 1)
BUT the cpp project doesn't compile correctly. (problem 2)

SO, briefly speaking, when add some other typ

[2019-09-05 18:34] EricZinda commented on #29
I picked up the fix and it fixes my issue.  Thanks Jackson!

[2019-11-02 18:28] sekkit opened #48 "All datatypes' json file as default"
IComparable
such types cannot be exported.
Is it possible to have all types exported?

[2019-11-02 19:09] sekkit opened #49 "Unable to compile for IComparable"
struct IComparable;
template <typename TElement> struct IComparable_1;

IComparable<System::Double>
it says  C2989	'System::IComparable': class template has already been declared as a non-class template	NativeScript	C:\Projects\Research\unitycpp_190809\Unity\Libs\CppSource\NativeScript\Bindings.h

[2019-11-03 18:01] jacksondunstan commented on #48
`IComparable` and many generics of `IComparable<T>` are exported in the example included in the repo.

No, you must list all the types you want to export.

[2019-11-03 18:01] #48 closed, assigned to jacksondunstan

[2019-11-03 18:04] jacksondunstan commented on #49
`IComparable` and many generics of `IComparable<T>` are exported in the example included in the repo and compile just fine. What changes did you make to cause it to not compile? Can you post your `NativeScriptTypes.json`, `Bindings.h`, and `Bindings.cpp` as well as any changes you've made to the repo?

[2019-11-20 03:27] Zoranner opened #50 "Generate code failed without any error Log.."
Debug content: Done generating bindings in 0.0908891 seconds.
But nothing was generated.

My NativeScriptTypes.json content:
[code]

[2019-11-20 16:27] jacksondunstan commented on #50
I just tried your NativeScriptTypes.json in a fresh clone of the repo with Unity 2019.2.9f1 and bindings were generated for me. Just as a reminder, the files to look for changes in are:

* Unity/Assets/CppSource/NativeScript/Bindings.cpp
* Unity/Assets/CppSource/NativeScript/Bindings.h
* Unity/Assets/NativeScript/Bindings.cs

For example, in Bindings.cpp I see line 58 added after generating with y

[2019-11-25 11:35] Zoranner commented on #50
ok, thank u, i will try it with 2019.2.9...

[2019-11-25 11:35] #50 closed, assigned to jacksondunstan

[2019-11-26 19:20] AustinSmith13 opened #51 "Performance question - Having lots of c++ monobehaviour's is slower than expected."
Hello,

I am planning on using your project for lua bindings instead of moonsharp. As a quick test to see how fast it runs, I spawned 1,000 GameObjects with the BaseBall script.

I also changed the object store both in c# and c++ to allow up to 10,00 objects.

The result was poor, each script was taking 0.078 ms in Editor and 0.070 ms in the Il2cpp build.

I then implemented the BaseBall script in

[2019-12-07 05:25] jacksondunstan commented on #51
That is indeed quite poor performance. In the [article](https://jacksondunstan.com/articles/3952) you're referring to, I ran on an LG Nexus 5X which wasn't even a fast Android phone in 2017. I was also using Unity 2017.1, which is now quite an old version. Despite these challenges, I still got an average of 0.0000761 ms per call into C++. This means you're getting about 1000x worse performance.

S

[2019-12-08 05:09] AustinSmith13 commented on #51
Sure, I appreciate the help. I'll post a fork with the setup.

[2020-01-13 04:38] AustinSmith13 commented on #51
@jacksondunstan I came back to this again and gave it another shot. I haven't forked yet because its tied heavily into our project.

Uses .net 4.0 and IL2CPP
Unity version 2019.2.9f1

Each test spawns 1000 objects that go back and forth.

The **C# implementation** runs in **8 ms**.

The **C++ implementation** runs in **90 ms**

The **Moonsharp Lua implementation** runs in **26 ms**.

I attached th

[2020-01-14 03:59] AustinSmith13 commented on #51
I figured out what was the issue. ```const int BaseMaxSimultaneous = 5000;``` setting this to a higher value causes poor performance.

[code]

Its spending to much time trying to find an objects handle.
## The Fix
So I changed this to cache with a dictionary instead and use the stack object to keep track of free handles, and now I can have the object store max size set to 10,000 and not suffer per

[2020-01-14 13:01] Dimous commented on #51
Hello!
So, did c++ script outperform c# equivalent?

[2020-01-14 15:49] AustinSmith13 commented on #51
@Dimous Depending on what your making it seems it can be faster, in my case embedding lua.

My results: **Spawns 1000 cubes that go back and forth**
* **C# 11.1 ms**
* **C++ 11.1 ms**

Unfortunately they where capped at 90 fps when I tested.

C++ did outperform C# Moonsharp for embedding lua. It was several times faster.

[2020-01-14 16:41] AustinSmith13 commented on #51
@jacksondunstan How would I have c# call c++ or have some sort two way communication using the generated bindings?

[2020-01-15 02:24] jacksondunstan commented on #51
@AustinSmith13 Thanks for posting all of your findings and for your PR! It does look like you ended up capped at 90 FPS, which is 1000ms / 90 ≈ 11.1ms, with both versions. Glad to hear it at least beat MoonSharp. 👍

As for two-way communication using the generated bindings, all of the bound C# functionality is accessible to C++. This is how you're able to call functions like `Debug::Log`. For call

[2020-01-15 02:51] #51 closed, assigned to nobody

[2020-01-19 03:53] AustinSmith13 opened #53 "Workflow improvement - Delete Bindings"
## The Issue
When you create a new Abstract type for example ```AbstractBaseBallScript``` and you generate the bindings you get ```BaseBallScript``` In your ```Bindings.cs```. Switching back to unity editor triggers a compilation and no errors. Good.

If you add some more abstract functions to your ```AbstractBaseBallScript``` and switch back to unity editor to re-build your bindings. Unity Editor

[2020-01-19 21:27] jacksondunstan commented on #49
Closing due to inactivity.

[2020-01-19 21:27] #49 closed, assigned to jacksondunstan

[2020-01-19 22:12] jacksondunstan commented on #53
Thank you for taking the time to write this up in such detail, and for the offer to create a PR to improve the project!

There are three ways that you can do this right now, but none is ideal:

# Manual Editing

This approach solves the problem by manually editing the bindings.

To add a new abstract method, property, or event:

1. Add `public abstract void Foo();` (for example) to `AbstractBaseBa

[2020-01-22 08:44] mikkomcmenamin opened #54 ""Exception: Couldn't open native library" on Linux"
I tried building and using the plugin in Windows and everything worked fine. However, when I built it on Linux and tried running the example bootscene I got the "couldn't open native library" exception.

What I did:
1. Clone this repo
2. Go to the Cppsource folder and open terminal
3. `mkdir build`
4. `cd build`
5. `cmake -G "Unix Makefiles" -DEDITOR=TRUE .. `
6. `make`
7. Building went fine and n

[2020-01-22 10:23] mikkomcmenamin commented on #54
Update: I upgraded CMake to latest version 3.16.3 but it didn't make a difference

[2020-01-25 23:45] jacksondunstan commented on #54
Thanks for the detailed description of the issue. I was able to reproduce and found that it was due to passing `0` as the `flag`/`mode` of `dlopen`. In 5f0e56f7c48bdcc71f419740c22a744f0b4b7383, I'm now passing `1` which works on both Linux and macOS.

[2020-01-25 23:45] #54 closed, assigned to nobody

[2020-02-07 05:59] AustinSmith13 commented on #53
I have an idea but it makes the problem worse, but I'll post it anyways because maybe it might spark other ideas.

**Mono.CecilX**  construct dll's instead of generating readable code (**Weaving**). Just an idea, makes the problem worse as you can not read anything...

--Edit--
Actually I think it could work if you never directly reference anything and instead leave that up to the weaver to resolv

[2020-03-03 22:37] SeleDreams opened #55 "Couldn't open Native Library"
Hi, I'm posting this issue because I don't know why, Unity refuses to load the Native Library, is it because the architecture is x86 ?
I did set the project to x86 though so I don't think this is the reason.

![image](https://user-images.githubusercontent.com/16335601/75826481-e02a1f80-5da7-11ea-9d80-dc8422a8f0de.png)

[2020-03-04 01:02] SeleDreams commented on #55
I found the issue using GetLastError, and it makes me think some things could be changed.

Basically, because the C++ is being used in the editor, as the editor is 64 bits only, it cannot run Win32 libraries, and that is a problem in the case we want to make a 32 bits game, it makes the process more tedious as we have to make a separate build for the editor and the game

[2020-03-04 05:25] jacksondunstan commented on #55
@SeleDreams I'm glad you found the issue. Do you have a suggestion for how the project could be improved to be less "tedious?"

[2020-03-04 06:44] SeleDreams commented on #55
The  cmake system could be made to have both an x64 and an x86 version of the dll that are present with their arch appended to their name and the script loading the dll would load the right one based on the architecture, it would make things a lot easier (it should also display the error code too to allow people to know the reason if there is an issue)

Also, it would be nice if more of the Unity

[2020-03-05 02:17] SeleDreams opened #56 "Keeps waiting for compile"
Hello, I am posting this new issue because I have a problem that I really don't know how to solve.
Basically, the binding code generation always waits for compilation when I add these lines
`   {
      "Name": "YandereSimulator.AbstractDiscordCodeGenerator",
      "BaseTypes": [
        {
          "BaseName": "YandereSimulator.DiscordCodeGenerator",
          "DerivedName": "YandereSimulator.Code

[2020-03-05 02:24] SeleDreams commented on #56
It seems like it randomly went away, but I wonder what happened

[2020-03-05 02:51] jacksondunstan commented on #55
@SeleDreams I'd recommend running the CMake generator twice: once for the editor and once for the standalone build in different directories. You might want to run it even more times if you need additional standalone builds, such as a 32-bit version. Then you can write a tiny batch file that builds them all at once or you can build them individually for faster builds. I'd really prefer not to make

[2020-03-05 03:30] SeleDreams commented on #55
Well, since the unity api is now split into multiple dll files, I feel like there could be one json per dll.
Like this it would add only what we want to use.

I would by the way have a question, let's say I need from C++ to be able to compare two System::String
how would I do that ? I thought the handle would maybe give me a char* but it doesn't seem to be the case
I'd basically want to get an LPS

[2020-03-05 09:32] SeleDreams opened #58 "Bindings.h contains a definition for the function but not Bindings.cs"
Hello, I'm posting this issue because when I am trying to pass a string on Debug::Log for instance it works fine, but when I send them to any custom function taking Objects as arguments (in my case it was two string objects), I get exceptions
![image](https://user-images.githubusercontent.com/16335601/75967541-44de9a80-5ecc-11ea-8df2-e230a36142df.png)

what's weird is that I copied the exact same

[2020-03-05 09:33] SeleDreams commented on #58
I noticed that my CustomCPPFunctions class is referenced nowhere in Bindings.cs, however, it gets referenced in Bindings.h

I think the reason it crashes is because while it is referenced in the binding.h, the binding.cs doesn't contain it, which prevents the function from being called
I can't tell why it happens

this is the json
![image](https://user-images.githubusercontent.com/16335601/7597715

[2020-03-05 10:50] #56 closed, assigned to nobody

[2020-03-05 21:51] #58 closed, assigned to nobody

[2020-03-05 21:55] SeleDreams opened #59 "Bug preventing the generation of bindings."
I've closed my two previous issues to rewrite it in one that is more detailled.

Basically, I don't know why, when I add my custom functions to the json, the bindings generator seems to fail to be able to generate bindings. It seems to get stuck in a loop of waiting for code compilation.

I have made tests though that confirmed that all my code was built by modifying some code and trying some stuf

[2020-03-05 23:22] SeleDreams commented on #59
The issue came from my modified Bindings.cs.

[2020-03-05 23:22] #59 closed, assigned to nobody

[2020-03-06 04:21] jacksondunstan commented on #55
There's no built-in way to copy the characters of a C# `System.String` into C++ memory, but it should be relatively easy to compare them if you make a helper function like this and expose it in the JSON:
[code]

[2020-03-06 06:05] SeleDreams commented on #55
That's what I ended up doing

but since from C# it would be easy for modders to trick the code I made a fake call to this function first that was verifying if two strings that are sure to not be equal return a true result

[2020-03-06 09:09] SeleDreams opened #60 "Crash in release build when returning a string from a method"
Hi, I am working on a project and I found a weird issue that only happens in release build

I have a a function that returns a string
![image](https://user-images.githubusercontent.com/16335601/76068826-293dc780-5f92-11ea-90cd-23868dd85bfa.png)
(Member is a string member I use quickly for this example but basically it happened with all my code)
and it works in the editor, the string is properly re

[2020-03-06 12:57] merlin1277 opened #61 "problem with calling typed method with arguments"
Hello,

Generate bindings breaks when trying to generate the binding for a "method<<type>>(args)", it works well with "method<<type>>()".
[code]
it doesnt find a matching method . the c# method is       public static T Instantiate<<T>>(T original) where T : Object; , on the UnityEngine.Object type;

Thank you for helping ,

Regards,

Merlin

[2020-03-07 18:28] #55 closed, assigned to nobody

[2020-03-07 18:46] jacksondunstan commented on #60
It's hard to tell what's happening here from just the small snippet of code and the `error.log` file. What is `Member`? How is this function being called?

I noticed you're using Unity 2017.2. While it's not strictly required, you may also benefit from upgrading to a newer, supported version.

[2020-03-08 02:19] SeleDreams commented on #60
I think i'll make a small reproduction project to help you identify the issue.

I was using unity 2017 because I was creating a feature for a game under unity 2017.2.3

[2020-03-08 02:20] SeleDreams commented on #60
![image](https://user-images.githubusercontent.com/16335601/76155388-c3fde980-60eb-11ea-9df1-99a3f9b2ff5f.png)
also if versions superior to 2017 are supported, it could be good to update the description

[2020-03-15 17:54] lcals opened #62 "Binding build error"
cppSourceContents = InjectIntoString(
				cppSourceContents,
				"/*BEGIN FUNCTION POINTERS*/\n",
				"\n\t/*END FUNCTION POINTERS*/",
				builders.CppFunctionPointers.ToString());

	static string InjectIntoString(
			string contents,
			string beginMarker,
			string endMarker,
			string text)
		{
         int beginIndex = contents.IndexOf(beginMarker, startIndex);
				if (beginIndex < 0)
				{

[2020-03-28 17:57] jacksondunstan commented on #61
It looks like the code generator isn't finding the method because it's generic so it's types are `T` instead of `Object`. I'd happily accept a PR with a fix.

[2020-03-28 17:59] jacksondunstan commented on #62
It's important to not change the line endings of the generated files for this reason. You can fix the issue by converting the line endings back.

[2020-03-28 17:59] #62 closed, assigned to nobody

[2020-08-10 07:06] stonfute opened #63 "Using 2D arrays"
Hi,

I'm using NativeScript in a project and I've notice a problem when using 2D arrays.

In C# I'm defining 2D arrays as `float[,] values`
but this generate `System::Array2<System::Single, System::Single>` in `Bindings.h/cpp`

`System::Array2<System::Single, System::Single>` is not defined and it should generate `System::Array2<System::Single>`.

Am I right ?
Am I using 2D array as designed in ge

[2020-08-11 05:08] jacksondunstan commented on #63
Hi @stonfute ,

`float[][]` and `float[,]` are quite different. The former is an array of arrays and may be jagged or even contain `null` elements. The latter is a 2D array, i.e. one with "rank" 2.

Check out the [first](https://jacksondunstan.com/articles/4154) and [second](https://jacksondunstan.com/articles/4257) array articles from the series for more details. The first has a usage example for

[2020-08-11 05:08] #63 closed, assigned to jacksondunstan

[2020-08-11 05:19] stonfute commented on #63
Thank you for your time.

In my case it was `"Ranks": [ 1, 2 ]` cause I only want to use 2D arrays.
I will try.

[2020-08-11 13:40] stonfute commented on #63
This is still an issue with `"Ranks": [ 1, 2, 3 ]`.

Also reproductible with 3D array of any type.
C# property with type `int[,,]` generate `System::Array3<System::Int32, System::Int32, System::Int32>` type for both get/set methods but it should be `System::Array3<System::Int32>`

[2020-08-12 03:34] jacksondunstan commented on #63
Hi @stonfute ,

Sorry for closing this issue prematurely; I thought you were just asking a question but now I realize it was a bug report. I've fixed the issue in commit 65e70add52952098c5496ce91c4ef85b00c3895d. Please let me know if the problem persists for you.

Best,
-Jackson

[2020-08-12 05:23] stonfute commented on #63
No problem !
It seams to work like a charm !

Thank you !

[2020-10-02 08:41] stonfute opened #64 "Declare an enum in NativeScriptTypes.json"
I've declared a class in C# which contains a public enum (see code below).
How can I declare this enum in `NativeScriptTypes.json` ?

[code]

I've declared my `Node` class as follows :
[code]

And I've tried to declare `NodeType_typ` enum as follows, but without any luck
[code]

I know it works great if  `NodeType_typ` enum is declared outside `Node` class (`MyNameSpace.NodeType_typ`), but I don't

[2020-10-07 01:50] jacksondunstan commented on #64
Unfortunately, as mentioned in the `README`, the code generator does not yet support nested types. If you'd like to implement this, I'd happily accept a PR.

[2020-10-07 01:50] #64 closed, assigned to jacksondunstan

[2021-01-25 18:10] sekkit commented on #40
Has the issue been solved?

[2021-01-28 08:08] jacksondunstan commented on #40
There have been several bug fixes since the issue was reported, so it's possible it's fixed. Can you reproduce with the latest version?

[2021-01-28 19:59] sekkit commented on #40
ok. btw I hope coroutine feature could be implemented. either by upgrading c++ version or the other.
I've got a plan for impl automatic types generation feature with Mono.Cecil (including nested types). which would help with developing larger projects.

[2021-01-30 18:06] jacksondunstan commented on #40
Sounds cool. Definitely feel free to submit a PR if you implement such a feature.

[2021-02-13 17:49] majorika commented on #61
simple workaround :
Set ParamTypes to ["UnityEngine.T"],
however UnityEngine.T does not seem appropriate.

I found a new problem with Instantiate. ex)

[code]

b instantiated with a BaseBallScript, but b's BaseBallScript.transform.GetInstanceID() will be return a's InstanceID.
a will move 2x faster, b doesn't move.

root cause :
a's CppHandle value also copied to b's when using Instantiate method.

[2021-02-19 11:29] philipcass opened #67 "Generated bindings cause errors when compiling for il2cpp on OSX Standalone"
I'm not a compiler expert but there seems to be some issue with the codegen on OSX compiler.

[code]

[2021-02-21 12:06] philipcass opened #68 "Bindings generator does not handle multiple derived types"
I've noticed when you have several classes based of the same abstract class the codegen can't handle it even thought the syntax looks like it should e.g.

[code]
Doesn't work

[2021-02-22 01:19] jacksondunstan commented on #67
Looks like the defaulted destructor of `Object` is implicitly `noexcept` on that compiler:
https://github.com/jacksondunstan/UnityNativeScripting/blob/master/Unity/Assets/CppSource/NativeScript/Bindings.h#L588
Changing that to an empty function may help. I just did that in 00443ef39d5418f3c744654c0d3d4036c2a81634, so please pull and try again.

[2021-02-22 01:25] jacksondunstan commented on #68
@philipcass Can you please elaborate on what doesn't work?

[2021-02-22 08:49] philipcass commented on #68
@jacksondunstan When generating c sharp delegates for each instance of the derived types the code-gen redeclares the common abstract methods multiple times e.g. if GetRadius was declared in `AbstractShape` it'd create this twice:
[code]

[2021-02-24 17:19] philipcass commented on #67
That definitely helped but still getting some errors:
[code]

I'm also getting this but it might be due to my changes:
[code]

EDIT: I managed to repro these exact errors by setting the CXX_STANDARD property to 98

[2021-02-24 17:38] philipcass commented on #67
On further inspection this looks like it's down to Unity taking the c++ code and including it into the il2cpp - if I move out the code from the project and leave the precompiled libraries it compiles fine. Annoying, cause on iOS builds this works fine.

I'm gonna close this ticket as I don't think there's really a bug here

EDIT: It's also fixed in 2019...sorry for the run around, thanks for takin

[2021-02-24 17:38] #67 closed, assigned to jacksondunstan

[2021-02-27 19:37] jacksondunstan commented on #68
@philipcass Thanks for clarifying. It looks like that code should only be generated for the first derived type, not all of them. I'm not able to address the issue right away, but please do feel free to submit a PR with a fix.

[2021-12-19 17:19] MyelinsheathXD opened #73 "why sometimes transform x, y stops working but z works fine?"
Hey !
I noticed that sometimes unity transform do not read receive cpp vector 3 properly.
Main issue Unity Transform component only reading Z but omitting X,Y . But when the cpp vector 3 sent to debug massage it works fine

What's going on here!?

[2022-02-19 07:59] lcals opened #74 "bug"
// Mark as virtual if method/class is not static or generic
	cppMethodIsStatic || enclosingTypeIsStatic || methodTypeParams != null? false : true,

        struct Vector3{
       		virtual UnityEngine::Vector3 operator+(UnityEngine::Vector3& a);
        }

        cause the test case to fail

[2022-05-18 17:01] #74 closed, assigned to nobody